@import "~antd/dist/antd.css";

.loginForm {
  max-width: 350px;
  margin: 0 auto;
  background: #fafafa;
  padding: 2rem;
  border-radius: 5px;
}

.rememberSection {
  display: flex;
  justify-content: space-between;
}

.loginButton {
  width: 100%;
}

.center {
  text-align: center;
}
