.container {
  margin-top: 2rem;
}

.flexContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flexContainerXs {
  flex-direction: column;
}

.firstFlexBoxContainer {
  flex-basis: 50%;
}

.firstFlexBoxContainerXs {
  flex-basis: 100%;
}

.firstFlexBoxTopImageContainer {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
}

.firstFlexBoxImage {
  width: 100%;
  object-fit: cover;
  height: 20rem;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.firstFlexBoxImage:hover {
  transform: scale(1.1);
}
.firstFlexBoxImageXs {
  height: 11.5rem;
}

.imageTitle {
  position: absolute;
  color: black;
  padding: 0.5rem;
  left: 2.5rem !important;
  top: 1.5rem !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.03em;
}
.imageTitleSm {
  font-size: 0.9rem;
  padding: 0.5rem;
}
.imageTitleXs {
  padding: 0.5rem;
  left: 1rem;
  top: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.03em;
}

.firstFlexBoxBottomImageContainer {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  border-radius: 0.3rem;
  margin-right: 1rem;
}
.firstFlexBoxBottomImageContainerXs {
  margin-bottom: 0.5rem;
}
