.headerMargin {
  margin-top: 2rem;
  margin-bottom: none;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.rowContainer:last-child {
  margin-top: 2rem;
}

.rowContainerXs {
  flex-direction: column;
}

.featuredProductContainer {
  overflow: hidden;
  position: relative;
  width: 50%;
}

.imageStyle {
  width: 100%;
  object-fit: cover;
  height: 20rem;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.imageStyle:hover {
  transform: scale(1.05);
}

.titleStyle {
  position: absolute;
  color: black;
  padding: 0.5rem;
  left: 2.5rem;
  top: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.03em;
}
