.container {
  margin-top: 1rem;
}

.buttonSection {
  border: 0.2rem transparent #eeeeee;
  border-radius: 5px;
  padding: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.basicInfo {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
}
.basicInfoXs {
  flex-direction: column;
}

.userAvatar {
  width: 8rem;
}
.userAvatarXs {
  width: 9rem;
  margin-bottom: 1.7rem;
  margin-top: 0.5rem;
  align-self: center;
}

.basicInfoText {
  margin-left: 2.5rem;
}
.basicInfoTextXs {
  margin-left: 0;
}

.welcomeMessage {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  letter-spacing: -0.03em;
}
.welcomeMessageXs {
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: -0.035em;
  margin-bottom: 1.2rem;
}

.phoneNumber {
  margin-top: 0.5rem;
}
.phoneNumberXs {
  margin-top: 0rem;
}

.emptySpace {
  padding: 1rem;
}

.imageBox {
  display: inline;
  position: relative;
}

.editBox {
  border: 1px solid #30363d;
  border-radius: 50% !important;
  color: #f0f6fc;
  background-color: #161b22;
  position: absolute !important;
  top: 95px !important;
  left: 10 !important;
  padding-right: 8px !important;
  padding-left: 8px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  margin-left: 8px !important;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .imageBox {
    width: 100%;
    text-align: center;
  }
}
