.imageWrapper {
  padding: 20px;
}
.imageWrapper img {
  width: 100%;
  height: 100%;
}
.imgStyled img {
  max-width: 100%;
  height: auto;
}
.previewActive {
  opacity: 0.6;
}
.previewActive:hover {
  opacity: 1;
}
