.container {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 3rem;
  padding-bottom: 0;
  margin-bottom: -0rem;
  padding: 0 1rem;
}

.flexContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.flexContainerXs {
  flex-direction: column;
}

.firstFlexBoxContainer {
  width: 66.666667%;
}
.firstFlexBoxContainerXs {
  width: 100%;
}

.firstFlexBoxTopImageContainer {
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

.firstFlexBoxImage {
  width: 100%;
  object-fit: cover;
  height: 20rem;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.firstFlexBoxImage:hover {
  transform: scale(1.1);
}
.firstFlexBoxImageXs {
  height: 11.5rem;
}

.imageTitle {
  position: absolute;
  color: black;
  padding: 0.5rem;
  left: 2.5rem;
  top: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.03em;
}
.imageTitleXs {
  padding: 0.5rem;
  left: 1rem;
  top: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.03em;
}

.firstFlexBoxBottomImageContainer {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
}
.firstFlexBoxBottomImageContainerXs {
  margin-bottom: 0.5rem;
}

.secondFlexBoxContainer {
  width: 33.3333333%;
  height: 41rem;
  margin-top: 0rem;
  margin-left: 1rem;
  position: relative;
  overflow: hidden;
}
.secondFlexBoxContainerXs {
  width: 100%;
  height: 11.5rem;
  margin-top: 0.5rem;
  margin-left: 0rem;
}

.secondFlexBoxImageV {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.secondFlexBoxImageV:hover {
  transform: scale(1.1);
}
.secondFlexBoxImageVXs {
  display: none;
}
.secondFlexBoxImageH {
  display: none;
}
.secondFlexBoxImageHXs {
  object-fit: cover;
  display: block;
  height: 11.5rem;
}
