.dashboard {
  display: flex;
}

.sidebarContainer {
  background-color: #001529;
  min-height: 100vh;
  max-width: 200px;
}

.sidebar {
  background-color: #64748b;
  padding: 1rem 1rem;
  display: grid;
  row-gap: 1rem;
  color: white;
  margin-right: 1rem;
}

.contentContainer {
  padding: 1rem 1rem;
  margin-right: 1rem;
}
