.container {
  max-width: 1170px;
  margin: 50px auto;
  text-align: center;
}
.imgStyle {
  width: 40%;
  height: 40%;
  margin-bottom: 20px;
}
.headStyle {
  padding: 10px;
}
.bodyStyle {
  border: 2px solid rgb(239, 240, 240);
  overflow: hidden;
  padding: 40px 40px;
}
