.contactUsContainer {
  max-width: 1200px;
  margin: 40px 70px;
}
.contactTitle {
  color: #003164 !important;
  font-size: 40px !important;
  text-transform: capitalize;
  font-weight: bold !important;
}
.contactTitleXs {
  text-align: center;
  font-size: 25px !important;
}
.contactTitleMd {
  text-align: center;
}
.contactTitleLg {
  text-align: left;
}
.lastLabelStyle {
  margin-top: -25px;
}
.lastLabel {
  margin-top: 33px !important;
}
