.containerFluid {
  max-width: 1200px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.buttonStyle {
  text-align: center;
  margin-top: 1.5rem;
}