@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.productNav {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 70px 0px;
}

.menu {
  list-style-type: none;

  margin: 0;
  padding: 0;
}
.menu li {
  display: inline-block;
}
.menu li a {
  text-decoration: none;
  padding: 15px 20px;
  margin: 0 10px;
  color: #999999;
}
