@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.productOption {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.searchBar {
  display: flex;
  justify-content: center;
}
.iconList {
  display: flex;
  justify-content: flex-end;
}
