.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 0.5rem;
  padding-left: 0.5rem;
}

.pageTitle {
  text-transform: uppercase;
  margin-top: 1rem;
  font-weight: bold;
}

.emptySpace {
  margin-bottom: 3rem;
}

.cartHr{
  border: 1px solid #eeeeee;
  border-radius: 9999px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.emptySpace{
  margin-bottom: 2rem;
}

.bottomSection{
  position: relative;
}

.bottomSectionContent{
  position: absolute;
  left: 0px;
}

.totalPriceSection{
  text-align: left;
  margin-bottom: 1.5rem;
}

.checkoutButton{
  margin-top: 1.5rem;
}

