.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.mainHeading {
  text-transform: capitalize;
  text-align: center;
}

.eachSection {
  border: 0.2rem solid #eeeeee;
  border-radius: 5px;
  padding: 1.5rem;
}

.eachSectionTitle {
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.buttonSection {
  border: 0.2rem transparent #eeeeee;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

.avatarStyle {
margin-right: 1rem;  
}

.emptySpace {
  padding: 1rem;
}
