.container {
  margin-top: 1rem;
}

.mainHeading {
  text-transform: capitalize;
  text-align: center;
}

.eachSection {
  border: 0.2rem solid #eeeeee;
  border-radius: 5px;
  padding: 1.5rem;
}

.eachSectionTitle {
  font-weight: bold;
  text-transform: capitalize;
}

.buttonSection {
  border: 0.2rem transparent #eeeeee;
  border-radius: 5px;
  padding: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.basicInfo {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
}
.basicInfoXs {
  flex-direction: column;
}

.userAvatar {
  width: 6rem;
}
.userAvatarXs {
  width: 9rem;
  margin-bottom: 1.7rem;
  margin-top: 0.5rem;
  align-self: center;
}

.basicInfoText {
  margin-left: 2.5rem;
}
.basicInfoTextXs {
  margin-left: 0;
}

.welcomeMessage {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  letter-spacing: -0.03em;
}
.welcomeMessageXs {
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: -0.035em;
  margin-bottom: 1.2rem;
}

.emptySpace {
  padding: 1rem;
}
