@import url("https://fonts.googleapis.com/css2?family=Cantata+One&family=Montserrat:wght@400;600;700&display=swap");
/******* Product custom css start *******/
* {
  font-family: "Montserrat";
}
.imageLarge {
  width: 525px;
  height: auto;
}
.imageSmall {
  height: 100px;
  width: 134px;
  border: 10px solid white;
  border-left: 0px;
  cursor: pointer;
  overflow: hidden;
  /* opacity: 0.7; */
}
img {
  width: 100%;
  height: 100%;
}
.previewActive {
  opacity: 0.6;
}
.previewActive:hover {
  opacity: 1;
}
.displayInline {
  display: inline-block;
  line-height: 30px;
  font-family: "Montserrat";
  font-weight: 600;
}
.marginBottom {
}
.inputStyled {
  width: 50px;
  border: 1px solid #8494a3;
  margin-bottom: 10px;
}

/******* Product custom css end *******/
