.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.gifStyle {
  width: 50%;
  height: auto;
  margin-top: -5rem;
}

.fourOFourStyle {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  color: #ef4444;
  font-size: 4rem;
  font-weight: bold;
  margin-top: -4.5rem;
}

.firstParagraphStyle {
  font-size: 2rem;
  margin-top: -3rem;
  margin-bottom: -1rem;
}

.buttonStyle {
  margin-top: 0.5rem;
  margin-bottom: 1.9rem;
}
