@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.siteName {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.navContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.navHr {
  border: 1px solid #eeeeee;
  border-radius: 9999px;
}

.navbarTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.navbarBottom {
  text-align: center;
  padding: 1rem;
  border-bottom: none;
  margin-bottom: 0.5rem;
}
