.eachSection {
  border: 0.2rem solid #eeeeee;
  border-radius: 5px;
  padding: 1.5rem;
}

.eachSectionTitle {
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.capitalInput {
  text-transform: capitalize;
}

.inputStyle {
  margin-left: 3rem;
}
.inputStyleXs {
  margin-left: 0rem;
}

.productInfo {
  display: flex;
  align-items: center;
  margin-left: 3.8rem;
  color: gray;
}
.productInfoXs {
  margin-left: 0rem;
}

.emptySpace {
  padding: 1rem;
}

.divider {
  padding: 0 0.6rem;
  margin-bottom: 0.2rem;
}

.buttonSection {
  display: flex;
  justify-content: flex-end;
}
