.labelItem{
  margin-bottom: 10px;
  font-size:20px;
}
.inputItem{
  margin-bottom: 15px;
}
.formInner{
  width: 450px;
  height: 110%;
  margin:50px auto;
  padding:50px 30px;
  background: rgba(22, 22.4, 22.7,0.8);
  color:#fff;
  border: 1px solid rgba(22, 22.4, 22.7,0.9);
  border-radius:18px;
}
.errorStyle{
  color:rgb(247, 238, 239);
  text-align: center;
}
.titleName{
  font-size:30px;
  color:#fff;
  text-align: center;
}