.footer {
  background: #fafafa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1rem;
  margin-top: 1rem;
}
.footerSectionOne {
  max-width: 1200px;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}
.footerSectionOneXs{
  margin-top: 0rem;
}
.footerSectionTwo {
  max-width: 1200px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}
.footerSectionOne ul {
  padding-left: 0px;
}
.footerSectionOne ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
.footerSectionOne ul li a {
  color: #545454;
}

.footerSectionOne .inputField input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #b7b7b7;
}

.footerSectionOne::after {
  content: "";
  height: 2px;
  width: 100%;
  background: #e7e7e7;
  margin: 25px 0px;
}

.allAbout ul {
  padding-left: 0px;
}
.allAbout ul li {
  list-style-type: none;
  display: inline-block;
}

.allAbout ul li a {
  color: #545454;
  margin-right: 12px;
}

.iconSection {
  text-align: end;
}
.iconSectionXs {
  text-align: center;
}

.iconSection span {
  margin-left: 8px;
  font-size: 13px;
}
.iconSection span a {
  color: #545454;
}
