.header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
  color: #333333;
  margin-top: 0;
}

.headerSm {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: #333333;
  margin-top: 0;
}

.hrStyle {
  border: 2px solid #1890ff;
  border-radius: 9999px;
  width: 10%;
  margin-top: -0.5rem;
  margin-bottom: 3rem;
}
