@import "~antd/dist/antd.css";

.containerFluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.titleHolder {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
}
.loginForm {
  max-width: 300px;
}
.loginFormForgot {
  float: right;
}
.antColRtl .loginFormForgot {
  float: left;
}
.loginFormButton {
  width: 100%;
}
.navHr {
  border: 1px solid #eeeeee;
  border-radius: 9999px;
}
