@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Montserrat:wght@400;600;700&display=swap');
/******* Slider custom css start *******/
.slider-container{
    height: 500px;
    margin: auto;
    text-align: center;
    color: white;
    /* line-height: 400px; */
    position: relative;
    overflow: hidden;
}
.main-container{
    position: relative;
    height: 500px;
    width:100%;
    background:#34495e;
 
   
}

.arrow-left{
    /* color: #ecf0f1; */
    color: black;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    top:50%;
    left: 0%;
    width: 50px;
    height: 50px;
    background: white;
    line-height: 50px;
  
  
}
.arrow-right{
    /* color: #ecf0f1; */
    color: black;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    top:50%;
    right: 0%;
    width: 50px;
    height: 50px;
    background: white;
    line-height: 50px;
}
.slider{
background-color: rgba(0, 0, 0, 0.123);
background-blend-mode: multiply;
   
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.one{
    background-image: url('images/slider-image1.jpg');
}
.two{
    background-image: url('images/slider-image2.jpg');
}
.three{
    background-image: url('images/slider-image3.jpg');
}
.four{
    background-image: url('images/slider-image4.jpg');
}
.t-box{
    width: 600px;
    text-align: left;
    margin-top: 150px;
    margin-left: 150px;
    color: black;
    font-family: 'Montserrat';
}
.t-box h1{
    font-size: 50px;
    font-weight:600;
}
.t-box .btn-custom{
    width: 120px;
    height: 40px;
    background: black;
    color: white;
    border: 2px solid rgb(233, 193, 15);

}

/* carousel dots customize css */
.ant-carousel .slick-dots li button {
    background: #131012;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    opacity: 0.4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
}

.ant-carousel .slick-dots li.slick-active button {
    opacity: 1;
    background:#d35400;
    height: 20px;
    width: 20px;
    border-radius: 50%;
   
    display: block;
  
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* carousel dots customize css end */




/* .one img{
    width: 100%;
    height: 100%;
    
} */
/******* Slider custom css end *******/