.cartItemContainer {
  display: flex;
  vertical-align: top;
  flex-direction: row;
  align-items: center;
}
.cartItemContainerXs {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
}

.closeButtonContainer {
  flex: none;
  padding: 3rem;
}
.closeButtonContainerXs {
  flex: 1 1 0%;
  padding: 0;
  margin-bottom: 2rem;
}

.removeFromCartButton {
  color: white;
  background-color: #ef4444;
}
.removeFromCartButton:hover {
  color: white;
  background-color: #f87171;
}

.removeFromCartText {
  display: none;
}
.removeFromCartTextXs {
  display: inline-block;
  margin-left: 0.8rem;
}

.productImage {
  padding: 0 2rem;
  margin: 0 1rem;
  flex: none;
  width: 14rem;
}
.productImageXs {
  padding-left: 0;
  margin: 0rem;
  padding: 0;
  width: 80%;
  margin: 0 auto;
}

.productInfo {
  margin: 0 3rem;
  flex-grow: 1;
}
.productInfoXs {
  margin-left: 0.1rem;
}

.title {
  font-size: 1rem;
  margin-top: 1.3rem;
}
.title:hover {
  text-decoration: underline;
}
.titleMd {
  font-size: 1.5rem;
  margin-top: 0;
}
.titleXl {
  font-size: 2rem;
  margin-bottom: 0.7rem;
  margin-top: 0;
}

.priceOnSmallScreen {
  display: none;
}
.priceOnSmallScreenXs {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.description {
  flex: 1 1 auto;
  padding-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.counterStyle {
  margin: 0 -0.5rem;
  width: 2rem;
}
.counterStyleXs {
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  margin-top: 0.1rem;
}

.priceOnBigScreen {
  flex: none;
  padding: 2.5rem;
  font-size: 2rem;
  white-space: nowrap;
}
.priceOnBigScreenXs {
  display: none;
}

.cartHr {
  border: 1px solid #eeeeee;
  border-radius: 9999px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
