@import url("https://fonts.googleapis.com/css2?family=Cantata+One&family=Montserrat:wght@400;600;700&display=swap");
/******* Slider custom css start *******/
/* .sliderContainer {
  height: 500px;
  text-align: center;
  color: white;
  line-height: 400px;
  position: relative;
  overflow: hidden;
} */

.mainContainer {
  position: relative;
  height: 500px;
  width: 100vw;
  background: #34495e;
}

.arrowLeft {
  color: #ecf0f1;
  color: black;
  font-size: 20px;
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 0%;
  width: 50px;
  height: 50px;
  background: white;
  line-height: 50px;
  cursor: pointer;
}
.arrowRight {
  /* color: #ecf0f1; */
  color: black;
  font-size: 20px;
  position: absolute;
  z-index: 1;
  top: 45%;
  right: 0%;
  width: 50px;
  height: 50px;
  background: white;
  line-height: 50px;
  cursor: pointer;
}
/* .sliderO {
  background-color: rgba(0, 0, 0, 0.733);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
} */
.one {
  background-color: rgba(0, 0, 0, 0.123);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/images/slider-image1.jpg");
  height: 500px;
  box-sizing: border-box;
}
.two {
  background-color: rgba(0, 0, 0, 0.123);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/images/slider-image2.jpg");
  height: 500px;
}
.three {
  background-color: rgba(0, 0, 0, 0.123);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/images/slider-image3.jpg");
  height: 500px;
}
.four {
  background-color: rgba(0, 0, 0, 0.123);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/images/slider-image4.jpg");
  height: 500px;
}
.tBox {
  width: 600px;
  text-align: left;
  padding-top: 105px;
  margin-left: 150px;
  color: black;
  font-family: "Montserrat";
}
.tBox h1 {
  font-size: 50px;
  font-weight: 600;
}

.btnCustom {
  width: 120px;
  height: 40px;
  background: black;
  color: white;
  border: 2px solid rgb(233, 193, 15);
}
/* @media (max-width: 768px) {
  .one,
  .two,
  .three,
  .four {
    height: 250px;

    background-size: cover;
  }
  .mainContainer {
    height: auto;
    width: 100vw;
  }
  .tBox {
   
    width: 220px;
    text-align: left;
    padding-top: 10px;
    margin-left: 10px;
    color: black;
    font-family: "Montserrat";
  }
  .tBox h1 {
    font-size: 20px;
    font-weight: 300;
  }
  .tBox p {
    font-size: 13px;
  }
  .arrowLeft,
  .arrowRight {
    background: none;
    visibility: hidden;
  }
}
@media (min-width: 576px) {
  .tBox {
  
    width: 300px;
    text-align: left;
    padding-top: 10px;
    margin-left: 10px;
    color: black;
    font-family: "Montserrat";
  }
} */
/* @media (min-width: 768px) {
  .one,
  .two,
  .three,
  .four {
    height: 400px;

    background-size: cover;
  }
  .mainContainer {
    height: auto;
    width: 100vw;
  } */
/* .tBox {
   
    width: 500px;
    text-align: left;
    padding-top: 100px;
    margin-left: 100px;
    color: black;
    font-family: "Montserrat";
  } 
}*/

.descriptionBottomSpace{
margin-bottom: 20px;
}

/******* Slider custom css end *******/
